<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.gelin.android.plantuml"
          android:versionCode="1"
          android:versionName="0.0.1-alpha">

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name=".ConvertActivity"
                android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
    <supports-screens/>

</manifest>
